@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.counter {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10pt 0 20pt 0;
    filter: drop-shadow(0 0 10px $white);
    ::selection {
      background: transparent;
    }
  }

  &,
  &>p,
  &>span {
    font-family: 'Roboto', sans-serif;
    color: $white;
  }

  filter: drop-shadow(0 0 3px $black);
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px 10px;
  border-radius: 3px;

  @media screen and (max-width: 320px) {
    margin: 5px 5px;
  }

  &>p {
    font-size: 48pt;
    line-height: 1;

    @media screen and (max-width: 600px) {
      font-size: 28pt;
    }

    @media screen and (max-width: 320px) {
      font-size: 24pt;
    }
  }

  &>span {
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    font-size: 14pt;
    margin: 5px 0;
  }

  &.split {
    font-size: 20pt;
  }
}
