@import 'reset';
@import 'color';
@import 'font';

@import 'mixin';

@import 'banner';
@import 'spotlight';

@import 'counter';
@import 'header';
@import 'active';

#app {
  width: 100%;
  min-height: 100vh;
  background-color: $paper;
}
