@import "font-awesome.min.css";
$title: 2.5rem;
$subtitle: 2rem;
$content: 1.5rem;
$footnote: 1rem;
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype")
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format("opentype")
}

$fontStyle: (title $title) (subtitle $subtitle) (content $content) (footnote $footnote);
@each $style in $fontStyle {
    $class: nth($style, 1);
    $size: nth($style, 2);
    h1.#{$class} {
        text-align: center;
        font-size: $size;
        display: block;
        margin: 0 auto;
    }
    h2.#{$class} {
        text-align: center;
        font-size: $size * 0.8;
        display: block;
        margin: 0 auto;
        font-weight: 200;
    }
    h3.#{$class} {
        text-align: center;
        font-size: $size * 0.7;
        display: block;
        margin: 0 auto;
        font-weight: 200;
    }
    p.#{$class} {
        text-align: center;
        font-size: $size * 0.5;
        display: block;
        margin: 0 auto;
        font-weight: 300;
    }
    a {
        text-align: center;
    }
    @media screen and (max-width: 768px) {
        h1.#{$class} {
            font-size: $size * 0.8;
        }
        h2.#{$class} {
            font-size: $size * 0.7;
        }
        h3.#{$class} {
            font-size: $size * 0.6;
        }
        p.#{$class} {
            font-size: $size * 0.4;
        }
    }
}
.contents {
    text-align: left !important;
    text-indent: 2em;
    white-space: pre-line;
}