#bar {
	transition: all .3s;
	z-index: 100;
	width: 100%;
	background: linear-gradient($pink 50%, rgba($pink, 0));
	background: -webkit-linear-gradient($pink 50%, rgba($pink, 0));
	position: fixed;
	top: 0;
	#nav {
		transition: all .3s;
		display: flex;
		position: relative;
		.toggle {
			z-index: 1000;
			transition: all .3s;
			position: fixed;
			color: $white;
			height: 3em;
			display: none;
			width: 100%;
			h1 {
				transform: translateX(-100%);
				width: 100vw;
				height: 3em;
				top: 0;
				line-height: 3em;
				display: block;
				text-align: center;
				position: absolute;
			}
			icon {
				z-index: 1000;
				position: absolute;
				margin: 0;
				padding: 1em;
				right: 0;
				display: inline-block;
			}
			&.active {
				transform: translateX(-100%);
				transition: all .3s;
				h1 {
					transform: translateX(-100%);
				}
			}
		}
		ul {
			height: 3em;
			width: 100%;
			align-items: stretch;
			position: relative;
			align-content: stretch;
			flex-wrap: nowrap;
			display: flex;
			li {
				transition: all .3s;
				width: 20%;
				line-height: 3em;
				display: inline-flex;
				a {
					text-align: center;
					display: block;
					margin: auto;
					width: 100%;
				}
				&:hover {
					background-color: rgba($white, 1);
					a {
						color: $black;
					}
				}
			}
		}
		$barStyle: (what, $green, 1) (intro, $pink, 2) (site, $blue, 3) (detail, $dark-yellow, 4);
		@each $style in $barStyle {
			$class: nth($style, 1);
			$color: nth($style, 2);
			$nth: nth($style, 3);
			&.scrolled{
				background: $pink;
			}
			&.scrolled.#{$class} {
				box-shadow: 1px 1px 4px rgba($black, .5);
				transition: all .3s;
				background-color: $color;
				ul {
					li:nth-child(#{$nth}) {
						background-color: $white;
						a {
							color: $color;
						}
					}
				}
				.toggle,
				.toggle.active {
					background-color: $color;
					h1 {
						transition: all .3s;
						background-color: $color;
					}
				}
			}
			.goto {
				display: none;
				&.#{$class} {
					position: fixed;
					box-shadow: 1px 1px 4px rgba($black, .5);
					text-align: center;
					font-size: 2em;
					line-height: 2em;
					transition: all .3s;
					display: block;
					position: fixed;
					width: 2em;
					height: 2em;
					border-radius: 50%;
					background-color: $white;
					color: $color;
					margin: 2em;
					bottom: 0;
					right: 0;
				}
				@media screen and (max-width: 768px) {
					&.#{$class} {
						display: none;
					}
				}
			}
			&.active {
				position: absolute;
				transition: all .3s;
				height: 100vh;
				width: 80%;
				display: block;
				transform: translateX(0);
				ul {
					display: block;
					height: 100%;
					li {
						display: inline-block;
						width: 100%;
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		#nav {
			background-color: $black;
			position: absolute;
			right: 0;
			transform: translateX(80%);
			.toggle {
				transform: translateX(-80%);
				display: block;
				h1 {
					box-shadow: 1px 1px 3px rgba($black, .5);
				}
			}
			ul {
				padding: 3em 0;
				display: none;
				li {
					box-shadow: 1px 1px 1px rgba($black, .2);
				}
			}
		}
	}
}