.button {
	transition: all .3s;
	color: $white;
	font-size: $content-xl;
	text-align: center;
	margin: .5em;
	padding: .5em .5em .5em 1em;
	border: 1px solid $white;
	border-radius: 1em;
	&:hover {
		color: $black;
		background-color: $white;
	}
}