@charset "UTF-8";
@import url(font-awesome.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format("opentype"); }
h1.title {
  text-align: center;
  font-size: 2.5rem;
  display: block;
  margin: 0 auto; }

h2.title {
  text-align: center;
  font-size: 2rem;
  display: block;
  margin: 0 auto;
  font-weight: 200; }

h3.title {
  text-align: center;
  font-size: 1.75rem;
  display: block;
  margin: 0 auto;
  font-weight: 200; }

p.title {
  text-align: center;
  font-size: 1.25rem;
  display: block;
  margin: 0 auto;
  font-weight: 300; }

a {
  text-align: center; }

@media screen and (max-width: 768px) {
  h1.title {
    font-size: 2rem; }

  h2.title {
    font-size: 1.75rem; }

  h3.title {
    font-size: 1.5rem; }

  p.title {
    font-size: 1rem; } }
h1.subtitle {
  text-align: center;
  font-size: 2rem;
  display: block;
  margin: 0 auto; }

h2.subtitle {
  text-align: center;
  font-size: 1.6rem;
  display: block;
  margin: 0 auto;
  font-weight: 200; }

h3.subtitle {
  text-align: center;
  font-size: 1.4rem;
  display: block;
  margin: 0 auto;
  font-weight: 200; }

p.subtitle {
  text-align: center;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  font-weight: 300; }

a {
  text-align: center; }

@media screen and (max-width: 768px) {
  h1.subtitle {
    font-size: 1.6rem; }

  h2.subtitle {
    font-size: 1.4rem; }

  h3.subtitle {
    font-size: 1.2rem; }

  p.subtitle {
    font-size: 0.8rem; } }
h1.content {
  text-align: center;
  font-size: 1.5rem;
  display: block;
  margin: 0 auto; }

h2.content {
  text-align: center;
  font-size: 1.2rem;
  display: block;
  margin: 0 auto;
  font-weight: 200; }

h3.content {
  text-align: center;
  font-size: 1.05rem;
  display: block;
  margin: 0 auto;
  font-weight: 200; }

p.content {
  text-align: center;
  font-size: 0.75rem;
  display: block;
  margin: 0 auto;
  font-weight: 300; }

a {
  text-align: center; }

@media screen and (max-width: 768px) {
  h1.content {
    font-size: 1.2rem; }

  h2.content {
    font-size: 1.05rem; }

  h3.content {
    font-size: 0.9rem; }

  p.content {
    font-size: 0.6rem; } }
h1.footnote {
  text-align: center;
  font-size: 1rem;
  display: block;
  margin: 0 auto; }

h2.footnote {
  text-align: center;
  font-size: 0.8rem;
  display: block;
  margin: 0 auto;
  font-weight: 200; }

h3.footnote {
  text-align: center;
  font-size: 0.7rem;
  display: block;
  margin: 0 auto;
  font-weight: 200; }

p.footnote {
  text-align: center;
  font-size: 0.5rem;
  display: block;
  margin: 0 auto;
  font-weight: 300; }

a {
  text-align: center; }

@media screen and (max-width: 768px) {
  h1.footnote {
    font-size: 0.8rem; }

  h2.footnote {
    font-size: 0.7rem; }

  h3.footnote {
    font-size: 0.6rem; }

  p.footnote {
    font-size: 0.4rem; } }
.contents {
  text-align: left !important;
  text-indent: 2em;
  white-space: pre-line; }

a {
  text-decoration: none; }

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #606060; }

#app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center; }

.countdown {
  transition: all .3s;
  color: #F8F3F5;
  display: flex;
  justify-content: center;
  align-items: center; }
  .countdown .container {
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .countdown .container header {
      filter: drop-shadow(0 0 3px rgba(39, 40, 45, 0.5));
      transition: all .3s; }
      .countdown .container header .title {
        font-weight: 200;
        font-size: 5rem; }
      .countdown .container header .subtitle {
        margin: 1em 0; }
    .countdown .container .content {
      margin: 2em 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .countdown .container .content .counter {
        position: relative;
        transition: all .3s;
        font-weight: 100;
        font-size: 3.75rem;
        display: flex;
        justify-content: center;
        width: 2em;
        height: 3em;
        filter: drop-shadow(0 0 3px rgba(39, 40, 45, 0.5)); }
        .countdown .container .content .counter span {
          letter-spacing: .25em;
          padding-left: .25em; }
        .countdown .container .content .counter:nth-child(1):after {
          color: #606060;
          background-color: #F8F3F5;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          padding: .5em;
          top: 2em;
          position: absolute;
          font-size: 2.5rem;
          content: "日";
          box-shadow: 0 0 0.5em 3px rgba(39, 40, 45, 0.3); }
        .countdown .container .content .counter:nth-child(2):after {
          color: #606060;
          background-color: #F8F3F5;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          padding: .5em;
          top: 2em;
          position: absolute;
          font-size: 2.5rem;
          content: "時";
          box-shadow: 0 0 0.5em 3px rgba(39, 40, 45, 0.3); }
        .countdown .container .content .counter:nth-child(3):after {
          color: #606060;
          background-color: #F8F3F5;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          padding: .5em;
          top: 2em;
          position: absolute;
          font-size: 2.5rem;
          content: "分";
          box-shadow: 0 0 0.5em 3px rgba(39, 40, 45, 0.3); }
        .countdown .container .content .counter:nth-child(4):after {
          color: #606060;
          background-color: #F8F3F5;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          padding: .5em;
          top: 2em;
          position: absolute;
          font-size: 2.5rem;
          content: "秒";
          box-shadow: 0 0 0.5em 3px rgba(39, 40, 45, 0.3); }
    .countdown .container .link {
      display: flex;
      justify-content: center; }

.button {
  display: inline-flex;
  font-size: 1.5rem;
  font-weight: 200;
  color: #F8F3F5;
  border: 1px solid #F8F3F5;
  border-radius: 3em;
  padding: .25em 1em;
  justify-content: center;
  transition: all .3s; }
  .button:hover {
    background-color: #F8F3F5;
    color: #606060; }

/*# sourceMappingURL=main.css.map */
