.footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  color: $white;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 40pt;
  }
  .date {
    font-size: 72pt;
    font-weight: 900;
    line-height: 1;
    p {
      transform: scale(1, 1.3);
      margin: 1rem 0;
    }
    hr {
      margin: 0;
      border: 1px solid $white;
    }
  }
  .info {
    margin: 2rem;
    font-size: 10pt;
    line-height: 1.5;
    letter-spacing: 2px;
    color: darken($white, 10);
    font-weight: 200;
  }
}