.spotlight {
  min-height: calc(100vh - 4rem);
  width: calc(100% - 4rem);
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media screen and (max-width: 1200px) {
    padding: 0;
    width: 100%;
    min-height: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 2rem;
    line-height: 1.4;
    .tag {
      display: flex;
      flex-direction: row;
      span {
        background-color: $tone;
        border-radius: 3pt;
        color: $white;
        padding: 1pt 5pt;
        margin-right: 1rem;
      }
    }
    h1 {
      font-size: 32pt;
      font-weight: 600;
      @media screen and (max-width: 1200px) {
        font-size: 24pt;
      }
      &:before {
        content: '#';
        color: $tone;
        margin-right: 1rem;
      }
    }
    h1+h2 {
      margin: 0;
      margin-bottom: 1rem;
    }
    h2 {
      @media screen and (max-width: 1200px) {
        font-size: 18pt;
      }
      font-size: 22pt;
      margin: 1.5rem 0 10pt 0;
      font-weight: 400;
    }
    >p {
      @media screen and (max-width: 1200px) {
        font-size: 10pt;
      }
      font-size: 14pt;
      letter-spacing: 2pt;
      line-height: 2;
      color: $content;
      >span {
        color: $gray;
        margin-right: 2rem;
        width: 7rem;
        letter-spacing: 2pt;
        @media screen and (max-width: 1200px) {
          margin-right: 1rem;
        }
      }
    }
  }
}