.container {
    display: flex;
    position: relative;
    width: auto;
    height: 100%;
    >.content {
        display: flex;
        padding: 2em;
        padding-top: 5em;
        @media screen and (max-width: 768px) {
            padding: 0em;
             padding-top: 2.5em;
        }
    }
}